.sc-player {
  background-color: #333;
  color: #fff;
  line-height: 1.4em;
  -moz-box-shadow: 1px 1px 4px #333;
  -webkit-box-shadow: 1px 1px 4px #333;
}

.sc-player a {
  text-decoration: none;
  color: #fff;
}

/* Artworks */

.sc-player .sc-artwork-list{
  background: #eee;
  background: -moz-linear-gradient(left bottom, #EEEEEE 20px, #333333 350px) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, right top, left bottom, from(#333), to(#eee));
}

/* scrubber */

.sc-scrubber {
  background-color: #e5e5e5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}


.sc-scrubber .sc-time-span {
  background-color: #666;
}

.sc-volume-slider {
  background-color: #e5e5e5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}


.sc-volume-slider .sc-volume-status{
  background-color: #666;
  border-right: 1px solid #22B573;
}


.sc-scrubber .sc-waveform-container {
  z-index: 800;
  width: 100%;
  position: absolute;
}

.sc-scrubber .sc-time-span img {
  height: 30px;
  width: 100%;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  background-color: #333;
  z-index: 1;
  position: absolute;
}

.sc-scrubber .sc-played {
  background-color: #22B573;
  z-index: 799;
}

/* controls */

.sc-player .sc-controls a {
  color: transparent;
  background: url('../../css/sc-player-standard/img/play.png');
}

.sc-player .sc-controls a:hover {
  background: url('../../css/sc-player-standard/img/play-hover.png');
}

.sc-player .sc-controls a.sc-pause {
  background: url('../../css/sc-player-standard/img/play.png');
}

.sc-player .sc-controls a.sc-pause:hover{
  background: url('../../css/sc-player-standard/img/play-hover.png');
}

.sc-player.playing .sc-controls a.sc-pause{
  background: url('../../css/sc-player-standard/img/pause.png');
}

.sc-player.playing .sc-controls a.sc-pause:hover{
  background: url('../../css/sc-player-standard/img/pause-hover.png');
}  

/* Track listings*/

.sc-player ol.sc-trackslist li {  
  background: #333;    
  color: #b8e9d3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-transition: background 0.3s ease-in;
}

.sc-player ol.sc-trackslist li:hover {  
  background: #22B573;    
}

.sc-player ol.sc-trackslist li.active{  
  background: #22B573;    
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.sc-player ol.sc-trackslist li.active a {
  color: #fff;
}
